*{
    font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }
    body{
        background-image:linear-gradient(to right , #01022d , #01022de5 ) ;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 95%;
        height: 620px;
        background-image: 
        linear-gradient(to right , #01022de5 30% ,rgba(0, 0, 0, 0.404) ) ,
         url(download.webp);
         background-position: center;
    }
    .container:hover{
        background-image: 
        linear-gradient(to right , #01022de5 30% , transparent ) ,
         url(download.webp);
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    a{
        color: wheat;
        text-decoration: none;
    }
    .logo{
        font-size: 30px;
        text-transform: uppercase;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }
    ul a{
        border-bottom: 2px solid transparent;
        text-transform: capitalize
}
    ul a:hover{
        border-bottom-color: wheat;
    }
    .content{
        color: wheat;
        width: 50%;
        margin-top: 50px;
        padding: 30px;
    }
    .content h2{
        font-size: 100px;
        text-transform: uppercase;
    
    }
    .content p{
        letter-spacing: 3px;
        width: 350px;
        padding: 20px 0;
    }
    .content button{
        font-size: 30px;
        padding: 6px 10px;
        border-radius: 10px;
        border: 2px solid transparent;
        cursor: pointer;
    }
    .content button:hover{
        background-color: transparent;
        border-color: white;
        color: white;
    }